fastapi
uvicorn
pydantic
SQLAlchemy
passlib[bcrypt]
python-jose[cryptography]
python-multipart
uvicorn[standard]
pydantic-settings
slowapi
limits
prophet
xgboost
pandas
numpy
scikit-learn
matplotlib
seaborn
scipy
statsmodels
