fastapi
uvicorn
pydantic
SQLAlchemy
python-jose[cryptography]
psycopg2-binary
supabase
python-multipart
uvicorn[standard]
pydantic-settings
slowapi
limits
prophet
xgboost
pandas
numpy
scikit-learn
matplotlib
seaborn
scipy
statsmodels
